html{
    background-color: black;
    font-size: 22px;
    color: seashell;
    font-family: Helvetica;
}

.header{
    display: flex;
    margin: 10px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.nav{
    display: flex;
    position: relative;
    left: 800px;
    width: 350px;
    justify-content: space-around;
}

a{
    color: seashell;
}

.sub-container1{
    background-image: url(./Images/img-mission-background.jpg);
    height: 700px;
    margin: 50px;
}

.mission{
    background-color: black;
    position: relative;
    top: 260px;
    opacity: 0.9;
}

.mission h2, 
.mission h4{
    text-align: center;  
}

.fig-text h2,
.fig-text h4{
    text-align: center;
}
.images1{
    display: flex;
    width: 1000px;
    align-content: center;
}

.images2{
    display: flex;
}

figcaption{
    text-align: center;
}

.sub-container3{
    display: flex;
    flex-direction: column;
    background-image: url(./Images/img-locations-background.jpg);
    height: 500px;
    margin: 50px;
}

.location-heading{
    text-align: center;
}

.location{
    display: flex;
    justify-content: center;
}

.location1{
    background-color: black;
    opacity: 1;
    margin: 40px;
    margin-bottom: 0;
    width: 300px;
    height: 250px;
    text-align: center;
}

h3, p{
    color: seashell;
}

footer p{
    margin-left: 20px;
    text-align: left;
    font-size: 18px;
}

.contact h2,
.contact h5{
    text-align: center;
    color: seashell;
}